li {
    margin-bottom: 5px;
}

#myModal {
  padding: 0px;
  margin-top:16%;
  margin-left:40%;
  width: 14%;
  height: 20%;
}
.navbar {
   margin: 2px;
   margin-right:4px;
   padding: 1px;
}

#select_project{
	margin-top: 6px;
	float: left;
	font-weight: bold;
}

.parent{
	position: absolute;
	height: 90%;
	width: 100%;
	padding: 1px;
    border: 0px black;
}

.welcome_message{
	position: relative;
	float: left;
	height: 100%;
	width: 22%;
	text-align: center;
	padding: 4px;
    border: 0px black;
}

#splash_info {
	padding-right: 20px;
}

.splash_screen {
	position: relative;
	float: right;
	height: 100%;
	width: 77.5%;
    border: 0px solid black;
}

.new_project {
	visibility: hidden;	
}

#header_buttons {
	border: 0px solid white;
	padding: 4px;
	margin-top: 10px;
	margin-left: 4px;
}

#header-bar {
	height:36px;
	padding:2px;
}

input[type="text"] {
   	margin-top:15px;
   	width: 180px;
	height: 20px;
}

#properties {
    border-radius: 6px;
    border: 0px solid black;
    padding: 2px;
}

.file_list {
	padding-left: 10px;
	padding-top: 2px;
	width: 280px;
	border: 0px solid black;
	text-align: left;
}

#contractor_box {
	position: absolute;
	top: 50%;
	left: 64%;
}

.floor_plan{
	position: absolute
	margin-left: 8px;
	height: 82%;
	width: 300px;
	text-align: center;
	padding: 4px;
    border: double black;
}

.bottom_button {
  	position: absolute;
  	bottom: 7px;
  	margin-left:8px;
	padding-left: 80px;
	width: 98%;
}

#view_port {
	position: absolute;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	margin-left: 310px;
	height: 82%;
    border: 1px solid black;
	width: 76%;
}


sup { vertical-align: top; font-size: 0.6em; }
#slider_shell {
	width:310px;
	padding: 10px;
    border: 0px solid black;
}

#slider {
	padding: 2px;
    border: 1px solid black;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left:10px;
  margin-right:8px;
  margin-bottom: 4px;
  padding: 2px 2px 2px 2px;
  background-color: #efefef;
  text-align: center;
  border: 0px solid black;
}
